/* Add screen styles below */
body{
    background: #37323E;
}

.card{
    background: #d9d9d9;
    margin: 0 auto;
    width: 500px;
}

.card div{
    padding: 20px;
}

h1{
     background: #deb841;
     padding: 20px;
     margin: 0;
}
